/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.search-container {
  width: 200px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
}
.input {
  outline: none;
  padding-left: 10px;
  border: none;
  background-color: transparent;
}
.icon {
  width: 20px;
  height: 20px;
}
.tab-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-list {
  list-style-type: none;
  padding: 0px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
